<div class="main top-main">
  <div class="top-message">
    <h2>外食したら、【食べ日記】</h2><br>
    <p>「あのお店美味しかった！」を記録しよう</p>
  </div>
  <div class="about-main">
    <p>①外食に行きます</p>
    <p>②写真を撮ります</p>
    <p>③アップするだけ！</p>

</div>
