<div class="main posts-new">
  <div class="container">
    <h1　class="form-heading">編集する</h1>
    <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
    <% end %>
    <%= render 'form', post: @post %>

    <div class="button_save">
      <%= link_to '保存', @post %> |
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
</div>
